* {
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    line-height: 2;
    margin: 0;
    font-family: Arial, sans-serif;
    color: green;
}

/* nav bar */
.logo {
    width: 3.5rem;
}

nav {
    background: rgba(15, 15, 15, 0.66);
    z-index: 8888;
}

img {
    width: 100%;
}

/* header */
.header {
    background-image: url(./header.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; /* Set to scroll by default */
}

@media (min-width: 600px) {
    .header {
        background-attachment: fixed; /* Only apply fixed for larger screens */
    }
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 0 1rem;
}

/* ABOUT US */

hr {
    width: 5rem;
    height: 3px;
    background-color: #B4D43C;
    border: 5px;
    margin-bottom: 80px;
}
.portfolio{
    background-color: #F6F6F6;
}


/* width za content  */
.sirina {
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    /* For tablets and smaller devices */
    .sirina {
      width: 80%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 480px) {
    /* For mobile phones */
    .sirina {
      width: 90%;
      margin: 0 auto;
    }
  }
  


/* portfolio */

.zoom {
    transition: all 0.3s;
}

.zoom:hover {
    /* box-shadow: rgba(0, 0, 0, 0.3); */
    transform: scale(1.10);
}

/* contact */

.Business-Hours{
    text-align: left;
}


.footer {
    /* background-color: #B4D43C; */
    background-color: #013220;
    color: #ffffff;
    padding: 0.5rem; 
    margin: 0;
    text-align: center; 
    width: 100%; 
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease;
}

.like {
    color: #B4D43C;;
}

.border {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 17px;
    padding-left: 40px;
}

.button-call {
    color: white;
}

.button-call:hover {
    color: white;
    text-decoration: none;
}
